html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  text-align: center;
  text-shadow: 2px 2px #222222;
  background-color: #041F9D;
  color: #C89F61;
}

.jumbotron {
  background-color: #041F9D;
  color: white;
  text-shadow: 2px 2px #222222;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
}

.exit {
  position: absolute;
  top: 10px;
  right: 10px;
}

main {
  height: 90%;
  width: 100%;
}

footer {
  width: 100%;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.fullheight {
  height: 100%;
}

table {
  table-layout: fixed;
  width: 25%;
}

th {
  font-family: 'Slabo 27px', serif;
  font-size: 40px;
  color: white;
  text-align: center;
}

.question {
  font-family: 'Slabo 27px', serif;
  font-size: 36px;
  height: 100px;
  border-style: solid;
  border-color: white;
  border-width: 2px;
}

.q {
  height: 100%;
}

.player {
  font-size: 24px;
  color: white;
  text-shadow: 2px 2px #222222;
}

.score {
  font-size: 24px;
  color: white;
  text-shadow: 2px 2px #222222;
}

.negative {
  background-color: #C9302C;
}

.positive {
  background-color: #449D44;
}

.footnote {
  color: gray;
}
