<template name="finalQuestionScoring">
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-4">
        <p class="">{{name}}</p>
        <p>{{score}}</p>
      </div>
      <div class="col-md-4">
        <input type="text" class="form-control" name="wager" placeholder="wager">
      </div>
      <div class="col-md-4">
        <div class="btn-group" role="group">
          <button type="button" name="positive" class="btn btn-success btn-sm">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </button>
          <button type="button" name="negative" class="btn btn-danger btn-sm">
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
