<template name="question">
  <div class="container">
    <button type="button" class="btn btn-info btn-sm exit">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
    <main class="row">
      <div class="jumbotron vertical-center">
        {{#if final}}
          <h1>{{finalDisplay}}</h1>
        {{else}}
          <h1>{{text}}</h1>
        {{/if}}
      </div>
    </main>
    <footer class="row">
      {{#if final}}
        {{#each players}}
          {{> finalQuestionScoring}}
        {{/each}}
      {{else}}
        {{#each players}}
          {{> normalQuestionScoring}}
        {{/each}}
      {{/if}}
    </footer>
  </div>
</template>
