<template name="home">
  <div class="container">
    <main class="row">
      <div class="col-md-9">
        {{> board}}
      </div>
      <div class="col-md-3">
        {{> scoreboard}}
      </div>
    </main>
    <footer class="row">
      <div class="col-md-12">
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" id="1" class="btn btn-info {{single}}">J</button>
          <button type="button" id="2" class="btn btn-info {{double}}">D</button>
          <button type="button" id="3" class="btn btn-info">F</button>
        </div>
      </div>
    </footer>
  </div>
</template>
